<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2>Editar novedades</h2>
            <form action="/admin/novedades/editar" method="post">
            <div class="mb-3 row">
                    <input type="hidden" value="{{novedad.id}}" class="form-control" name="id">
                </div>
                <div class="mb-3 row">
                    <label for="" class="form-label">Titulo</label>
                    <input type="text" value="{{novedad.titulo}}" class="form-control" name="titulo">
                </div>
                <div class="mb-3 row">
                    <label for="" class="form-label">Subtitulo</label>
                    <input type="text" value="{{novedad.subtitulo}}" class="form-control" name="subtitulo">
                </div>
                <div class="mb-3 row">
                    <label for="" class="form-label">Descripcion</label>
                    <textarea type="text" class="from-control" name="descripcion">{{novedad.descripcion}}</textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Modificar <i class="fa-solid fa-arrows-rotate"></i></button>
            </form>
            {{#if error}}
                <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>